<div>
    <p>{{headline}}</p>
    <div class="elemententry" ng-repeat="element in elements">
        <dl class="dl-horizontal" >
            <dt>{{element.label}}</dt>
            <dd>{{element.value}}</dd>
        </dl>
    </div>
    <div>
        <nvd3-line-chart
                data="exampleData"
                width="380"
                height="240"
                showXAxis="true"
                showYAxis="true"
                xAxisTickFormat="xAxisTickFormat_Date_Format()"
                yAxisTickFormat="yAxisFormatFunction()">
        </nvd3-line-chart>
    </div>
</div>