<div>

    <table id="mapObjectInformationHzTable">
        <thead>
        </thead>

        <tbody>
        <tr class="elemententry" ng-repeat="element in elements">
            <td>{{element.label}}</td>
            <td>{{element.value}}</td>
        </tr>
        </tbody>

    </table>
    <div id="mapObjectInformationHzDiagramOnSameLevel">
        <nvd3-discrete-bar-chart
                data="exampleData"
                width="380"
                height="240"
                showXAxis="true"
                margin="{left:30,top:10,bottom:30,right:0}"
                showYAxis="true"
                showLegend="true" +
                yAxisLabel="in %" +
                xAxisLabel="average occupancy per weekday 1" +>
            <svg></svg>
        </nvd3-discrete-bar-chart>
    </div>
</div>