<div>
    <p>{{headline}}</p>
    <div class="elemententry" ng-repeat="element in elements">
        <dl class="dl-horizontal" >
            <dt>{{element.label}}</dt>
            <dd>{{element.value}}</dd>
        </dl>
    </div>
    <div>
        <nvd3-discrete-bar-chart
                data="exampleData"
                width="380"
                height="240"
                showXAxis="true"
                showYAxis="true">
            <svg></svg>
        </nvd3-discrete-bar-chart>
    </div>
</div>