<div>
    <p>{{headline}}</p>
    <table>
        <thead>
        </thead>

        <tbody>
                <tr class="elemententry" ng-repeat="element in elements">
                    <td>{{element.label}}</td>
                    <td>{{element.value}}</td>
                </tr>
        </tbody>

    </table>
    <div>
        <nvd3-discrete-bar-chart
                data="exampleData"
                width="380"
                height="240"
                showXAxis="true"
                showYAxis="true">
            <svg></svg>
        </nvd3-discrete-bar-chart>
    </div>
</div>