<div ng-mouseover="leftMenuScope.fadeoutleft=true" ng-mouseleave="leftMenuScope.fadeoutleft=false" ng-class="{'leftMenu-fadeIn': !leftMenuScope.fadeoutleft, 'leftMenu-fadeOut': leftMenuScope.fadeoutleft}" id="leftMenu" class="contentHight menu form-control" style=" height:{{contentHight}};">
    <div id="leftMenuContent">
        <button ng-click='changeMap()' type="submit" class="btn btn-primary">switch map</button>
        <div class="checkbox checkbox-first">
            <label>
                <input type="checkbox" ng-model="leftMenuScope.confirmed_macro" value="" ng-change="change('macro')" >
                maxzone
            </label>
        </div>
        <div class="checkbox checkbox-first">
            <label>
                <input type="checkbox" ng-model="leftMenuScope.confirmed_micro" value="" ng-change="change('micro')" checked="checked" >
                micro
            </label>
        </div>
        <div class="checkbox checkbox-second">
            <label>
                <input type="checkbox" ng-model="leftMenuScope.confirmed_free" ng-change="change('free')" value="">
                free
            </label>
        </div>
        <div class="checkbox checkbox-second">
            <label>
                <input type="checkbox" ng-model="leftMenuScope.confirmed_fee" ng-change="change('fee')" value="" checked="checked">
                fee
            </label>
        </div>
        <div class="checkbox checkbox-second">
            <label>
                <input type="checkbox" ng-model="leftMenuScope.confirmed_clock" ng-change="change('clock')" value="" checked="checked">
                clock
            </label>
        </div>
    </div>
</div>