<div ng-click="rightMenuScope.fadeoutright=!rightMenuScope.fadeoutright"  ng-class="{'rightMenu-fadeIn': !rightMenuScope.fadeoutright, 'rightMenu-fadeOut': rightMenuScope.fadeoutright}" id="rightMenu" class="menu contentHight" style=" height:{{contentHight}};">
    <div id="rightMenuContent">
        <div id="rightMenuHeadline">
            Parkingslot
        </div>
        <div class="elemententry" ng-repeat="element in rightMenuScope.rightMenuElements">
            <dl class="dl-horizontal" >
                <dt>{{element.label}}</dt>
                <dd>{{element.value}}</dd>
            </dl>
        </div>
        <div google-chart chart="rightMenuScope.chartObject" style="{{cssStyle}}"></div>
        <div id="guidanceButtonDiv">
            <button ng-click='guidance()' type="submit" class="btn btn-primary">guidance</button>
        </div>
    </div>
</div>