<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Streetlife</title>



    <!-- Openlayer Includes -->
    <link rel="stylesheet" href="http://openlayers.org/en/v3.10.1/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.10.1/build/ol.js"></script>
    <!-- Openlayer Includes -->

    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
    <!-- injector:css -->

    <!-- endinjector -->




    <!-- injector:js -->

    <!-- endinjector -->




    <script src="thirdparty/ng-websocket/ng-websocket.js"></script>
</head>

<body ng-controller="commonController">

    <top-bar >
        <ul class="title-area">
            <li class="name">
                <a href="#"><img src="img/streetlife.png" style="padding-top: 4px"/></a>
            </li>
            <li toggle-top-bar class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <top-bar-section>
            <!-- Right Nav Section -->




            <ul ng-controller="citySelectionController" class="right">
                <li>

                    <a style="color: white" class="" dropdown-toggle="#dropdown-example-2">{{citySelection.id}}</a>
                    <ul id="dropdown-example-2" class="f-dropdown">
                        <li class="cityElement" ng-repeat="city in cities">
                            <a ng-click="asd(city)" target="_blank">{{city}}</a>
                        </li>
                    </ul>
                </li>
                <li ng-controller="impressumnController" style="float:left"><a ng-click="openImpressum()" href="#">Imprint</a></li>



            </ul>
            <!-- Left Nav Section -->
            <ul class="left">
                <li><a href="#">tools</a></li>
            </ul>
        </top-bar-section>
    </top-bar>
    <div ui-view></div>

</body>
<script src="bower_components/foundation/js/foundation.js"></script>
</html>
