<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Streetlife | Cockpit</title>

    <link rel="shortcut icon" href="img/favicon.png" type="image/x-ico; charset=binary">

    <!-- Openlayer Includes -->
    <link rel="stylesheet" href="http://openlayers.org/en/v3.10.1/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.10.1/build/ol.js"></script>
    <!-- Openlayer Includes -->

    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">




    <!-- injector:css -->
    <link rel="stylesheet" href="dest/css/dependencies.css">
    <link rel="stylesheet" href="dest/css/Streetlife-MMECP-UI.css">
    <!-- endinjector -->




    <!-- injector:js -->
    <script src="dest/js/dependencies.js"></script>
    <script src="dest/js/Streetlife-MMECP-UI.js"></script>
    <!-- endinjector -->




    <script src="thirdparty/ng-websocket/ng-websocket.js"></script>
</head>

<body ng-controller="commonController">


    <top-bar >


        <ul class="title-area">
            <li class="name">
                <a href="#"><img id="streetlife-logo" src="img/streetlife-logo.png" style="padding-top: 4px"/><div id="headline">Streetlife Cockpit</div></a>
            </li>
            <li toggle-top-bar class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>







        <top-bar-section>
            <!-- Right Nav Section -->




            <ul ng-controller="citySelectionController" class="right">
                <li>

                    <a class="citySelection" dropdown-toggle="#dropdown-example-2">{{citySelection.id}}</a>
                    <ul id="dropdown-example-2" class="f-dropdown">
                        <li class="cityElement" ng-repeat="city in cities">
                            <a ng-click="asd(city)" target="_blank">{{city}}</a>
                        </li>
                    </ul>
                </li>
                <li ng-controller="impressumnController" style="float:left"><a ng-click="openImpressum()" href="#"><img id="impressumLink"  src="img/feather.png"></a></li>



            </ul>
            <!-- Left Nav Section -->

        </top-bar-section>





    </top-bar>
    <div id="lineImage"> </div>
    <div ui-view></div>

</body>
<script src="bower_components/foundation/js/foundation.js"></script>
</html>
