<div class="row full-width">
    <!-- Content(Map & Diagrams) -->
    <div class="medium-11-customer columns map-diagramm-content" ng-class="contentCSS">
        <div class="row full-width">
            <!-- Left Sidebar & Map-->
            <div ng-class="mapCSS" class=" columns map-content ">
                <!-- Left Sidebar -->
                <div class="off-canvas-wrap">
                    <div class="inner-wrap">
                        <nav class="tab-bar">
                            <section class="left-small">
                                <a class="left-off-canvas-toggle"><i class="fi-widget" style="font-size: 20px;color:black;"></i></a>
                            </section>
                            <section ng-switch on="showBigMap" class="middle tab-bar-section tab-bar-section-map">
                                <h1 class="title left" style="color: black !important;">Map</h1>
                                <a  ng-switch-when="true" class="right btn-showHideMap" ng-click="showHideMap()"><i class="fi-arrows-in large" style="color: black;"></i></a>
                                <a  ng-switch-when="false" class="right btn-showHideMap" ng-click="showHideMap()"><i class="fi-arrows-out large" style="color: black;"></i></a>
                            </section>
                        </nav>
                        <!-- Filter -->
                        <aside class="left-off-canvas-menu">
                            <filter></filter>
                        </aside>
                        <!-- Map -->
                        <section  id="mapContainer" class="main-section overlayMapInfo-section panel" ng-style="addStyleToMap()" resize >
                            <div class="small-12 columns">
                                <ol-map alt="Map ol-map"></ol-map>
                                <div class="overlayMapInfo" ng-show="showOverlayMapInfo">
                                    <map-Object-Information  align="Horizontal"></map-Object-Information>
                                </div>
                                <div id="mapLegend" ng-controller="mapLegendController">
                                <div id="mapLegendContent" ng-if="showLegend" >
                                    <div id="mapLegendHeadline"><b>Legend</b></div>
                                    <div ng-repeat="legendElement in legendList">
                                         <div class="colorLegendBox" style="background-color: {{legendElement.color}}"></div>
                                        <div class="labelLegendBox">{{legendElement.label}}</div>
                                        </div>
                                </div>
                                </div>


                            </div>
                        </section>
                        <a class="exit-off-canvas"></a>
                    </div>
                </div>
            </div>
            <!-- switch between Diagrams and Map Info-->
            <div class="medium-5-customer columns" ng-class="diagramCSS" ng-switch on="showDiagrams">
                <!-- Right Sidebar & Diagrams-->
                <div ng-switch-when="true">
                    <div class="off-canvas-wrap ">
                        <div class="inner-wrap">
                            <nav class="tab-bar">
                                <section class="middle tab-bar-section">
                                    <h1 class="title right" style="color: black !important;">Diagrams</h1>
                                </section>

                                <section class="right-small">
                                    <a class="right-off-canvas-toggle"><i class="fi-widget" style="font-size: 20px;color: black"></i></a>
                                </section>
                            </nav>
                            <aside class="right-off-canvas-menu">
                                <div class="off-canvas-menu-title off-canvas-list">
                                    <strong><h5 class="title right" style="color: black !important;">Diagrams</h5></strong>
                                </div>
                                <div class="off-canvas-menu-content">
                                    <label>Datum</label>
                                    <label class="apiControllEntry">Von:
                                        <input type="text"  />
                                    </label>
                                    <label class="apiControllEntry">Bis:
                                        <input type="text"  />
                                    </label>
                                    <label>Uhrzeit</label>
                                    <input id="checkbox1" type="checkbox"><label for="checkbox1">6-10</label>
                                    <input id="checkbox2" type="checkbox"><label for="checkbox2">10-16</label>
                                    <input id="checkbox3" type="checkbox"><label for="checkbox3">16-22</label>
                                    <a href="#" class="button">Request</a>
                                </div>
                            </aside>
                            <section class="main-section diagrams-section panel" ng-style="addStyleToMap()" resize>
                                <div class="medium-12 columns">
                                    <div class="row">
                                        <div class="columns" ng-class="singleDiagramCSS">
                                            <div class=" callout">
                                                <h2>{{  useCaseTitle }}</h2>





                                                <dl class="tabs">
                                                    <dd class="active"><a href="#simple1">Simple Tab 1</a></dd>
                                                    <dd><a href="#simple2">Simple Tab 2</a></dd>
                                                    <dd class="hide-for-small"><a href="#simple3">Simple Tab 3</a></dd>
                                                </dl>
                                                <ul class="tabs-content">
                                                    <li class="active" id="simple1Tab">This is simple tab 1s content. Pretty neat, huh?</li>
                                                    <li id="simple2Tab">This is simple tab 2s content. Now you see it!</li>
                                                    <li id="simple3Tab">This is simple tab 3s content.</li>
                                                </ul>












                                                <div ng-if="showUseCaseDescription"> {{  useCaseDescription }} </div>

                                                    <map-Object-Information ng-if="showDetailView"  align="Vertical"></map-Object-Information>


                                                <div ng-controller="StatusPanelMainChartController" ng-if="showCharts">
                                                    <div class="chart" ng-repeat="chart in charts">
                                                        <h3>{{chart.chart.title}}</h3>
                                                        <nvd3 options="chart.chart.options" data="chart.chart.data" api="api"></nvd3>
                                                        {{chart.chart.description}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </section>
                            <a class="exit-off-canvas"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Kpis-->
    <div class="medium-1-customer columns use-case-menu" ng-class="kipsCSS" style="padding: 5px;border-top: solid 1px whitesmoke;" ng-style="addStyle()" resize-menu>
        <div class="row full-width" style="margin-top: 50px">


            <div class="medium-12-customer padding-none columns">
                <ul ng-repeat="useCase in useCaseList" class="side-nav">

                    <span data-tooltip aria-haspopup="true" class="tip-left" title="{{useCase.title}}"><a  ng-click="useCaseClicked(useCase.useCaseID)"><img src="{{'img/'+useCase.icon}}" style="height:32px;width:32px"></a></span>

                </ul>
            </div>
        </div>
    </div>
</div>