<div ng-show="showDatePicker" id="mapLegend" ng-controller="filterDatePickerController">
    <div id="datePickerFilter">
       <h2>Select a Time Period</h2>

        <div class="form-group" id="datePickerModul">
            <label for="daterange" class="control-label">Please select a date range for the selected filter:</label>
            <input date-range-picker id="daterange" name="daterange" class="form-control date-picker" type="text"
                   ng-model="date" options="opts" required/>
        </div>

        <a href="#" class="button" ng-click="loadData()">Load Data</a>

    </div>
</div>
